.carousel__services__presentation{
    background-color: var(--font-white);
    padding: 20px;
}
.services__presentation--image{
    width: 100%;
    height: 30vh;
    background: url("../assets/images/domo-fondo.jpg") no-repeat center/cover;
    
}
.carousel__services__presentation--description{
    padding-bottom: 20px;
}

.carousel__services__container{
    height:100%;
}
.carousel__services__presentation--title{
    align-items: center;
    height:66px;
}