

.main__header{
    padding: 40px;
    padding-top: 95px;
    width:100%;
    height:calc(100vh - 95px);
    min-height: 500px;
    background: url("../assets/images/domo-fondo.webp") no-repeat center center/cover;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;

}
.main__header h1{
    text-shadow: var(--basic-black) 2px 2px 7px;
}
.btn, .btn-ch{
    width: 250px;
    height: 60px;
    cursor: pointer;
    display: flex;
    font-family: var(--font-bold);
    background: linear-gradient(94.25deg, #9C117E 0%, #C432A4 100%); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: var(--font-white);
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.btn-ch{
    width:200px;
    height:43px;
}
.btn img{
    width: 60px;
    height: 40px;
    margin: 7px;
}
.carousel__services__container .btn-ch{
    margin: auto;
    width:180px;
    font-size: 1.8rem;
}
.carousel__services__container .btn-ch img{
    width:40px;
    height: 27px;
    margin: 7px;
    height:auto;
}
.btn:hover, .btn-ch:hover{
background: var(--purple-60);
}
.contenedor{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: rgba(128, 128, 128, 0.301);
	color: var(--purple-60);
	opacity: 100%;
    border-radius: 4px;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}
.carousel__anterior{
    left: -10px;
    z-index: 1;
}

.carousel__siguiente{
    right: -10px;
    z-index: 1;
}

.carousel__lista {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carousel__elemento {
    width: 31%;
    min-width: 290px;
	text-align: center;
    box-shadow: 2px 2px 10px 0px #00000044;
    padding: 10px;
    margin: 10px;
    border-radius: 2px;
}


.services__container{
    margin: 30px 0;
    padding: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius:2px;
}
.services__container img{
    width:270px;
    height: 170px;
    vertical-align: top;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 2px;
}
.services__title{
    text-align: center;
}
/*              🇧​​​​​🇺​​​​​🇸​​​​​🇮​​​​​🇳​​​​​🇪​​​​​🇸​​​​​🇸​​​​​                   */
.main__business{
    margin-bottom: 30px;
    background: linear-gradient(180deg, #098B64 0%, #047050 100%);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius:4px;
    color: var(--font-white);

}
.main__business div{
    padding: 10px 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__business h3, .main__business h2{
    color: var(--font-white);
    text-align: center;
    padding: 10px 0;
}
.main__business h2{
    padding: 30px;
}
.main__business .business__logo-container img{
    width: 200px;
    height: 216px;
    padding: 10px 0;
}
.main__business .business__logo-container figure{
    text-align: center;
    
}

.main__business .business__logo-container{
    max-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.business__logo-name{
    font-size: 10rem;
}
.main__business .business__button{
    padding: 20px 0;
}
.main__business .business__button a{
    margin: auto;
}
.business__ajust{
    max-width: 1200px;
    margin: auto;
}
