    /*
        Orden de implementación de estilos, con el fin de mantener conscistencia y facilitar la lectura:
            1.Posicionamiento: todo lo referente a este, como static, absolute, relative o fixed
            2.Box Model: Content, Padding, Border, Margin
            3.Tipografía: Tipo, tamaños de fuente, etc.
            4.Estilos visuales: box-shadow, border-radius, gradients, etc
            5.Otros: reglas css y más


    */ 


                    /* 🇻​​​​​🇦​​​​​🇷​​​​​🇮​​​​​🇦​​​​​🇧​​​​​🇱​​​​​🇪​​​​​🇸​​​​​ */

:root{
    /*🇨​​​​​🇴​​​​​🇱​​​​​🇴​​​​​🇷​​​​​🇸​​​​​*/
            /*      𝘽𝙍𝘼𝙉𝘿 𝘾𝙊𝙇𝙊𝙍𝙎        */
            --brand-purple: #8E1073;
            --brand-green: #117F65;

            /*      𝙎𝙔𝙎𝙏𝙀𝙈 𝘾𝙊𝙇𝙊𝙍𝙎       */

                    /*      𝙁𝙊𝙉𝙏 𝘾𝙊𝙇𝙊𝙍𝙎       */
                    --font-white:#e5e5e5;
                    --font-black:#3a3a3a;

                    /*      𝘽𝘼𝙎𝙄𝘾 𝘾𝙊𝙇𝙊𝙍𝙎        */
                    --basic-white: #f9f9f9;
                    --basic-black:#1c1d21;
                    --basic-grey:#898989;

                    /*      𝙋𝙐𝙍𝙋𝙇𝙀        */
                    --purple-normal: #9C117E;
                    --purple-80: #B04198;
                    --purple-60: #C470B2;
                    --purple-40: #D7A0CB;

                    /*      𝙂𝙍𝙀𝙀𝙉       */
                    --green-normal: #098B64;
                    --green-80: #3AA383;
                    --green-60: #6CBAA2;
                    --green-40: #9DD1C1;

                    /*      𝘼𝘾𝙏𝙄𝙊𝙉 𝘾𝙊𝙇𝙊𝙍𝙎       */
                    --action-purple: #9C117E;
                    --action-green: #1E8F6E;

                    /*      𝘽𝙊𝙊𝙇𝙀𝘼𝙉 𝘾𝙊𝙇𝙊𝙍𝙎      */
                    --boolean-true:#12BC67;
                    --boolean-false:#D52A71;
}

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .15s;
}

html{
    font-size: 62.5%;
}
main{
    padding-top: 87px;
    height: 1400px;
}
body{
    min-width: 320px;
    color:var(--font-black);
    font-family: 'Catamaran', sans-serif;
    font-size: 1.4rem;
    background: var(--font-white);
}
h1{
    font-size: 4rem;
    color:var(--font-white);
}
h2{
    font-size: 2.5rem;}
h3{
    font-size: 2rem;
    color: var(--font-black)
}
h1, h2, h3{
    font-weight: 700;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);


}
a{
    color:var(--font-black);
    text-decoration: none;
    text-decoration: underline;

}

ul{
    list-style: none;
}
input, textarea{
    width:200px;
    background: #E5E5E5;
    border: 1.5px solid var(--action-purple);
    box-sizing: border-box;
    border-radius: 4px;
    font-weight: 700;
    padding: 5px 20px;
    align-items: center;
    margin: 10px auto;
}
input{
    height:35px;
}

input:focus, textarea:focus{
    outline: 1.5px solid var(--action-green);
    border: 1.5px solid var(--action-green);
}
p{
    max-width:600px;
    margin: auto;
    text-shadow: 0px 2px 2px rgba(51, 51, 51, 0.25);

}




.main__header h1{
    text-shadow: var(--basic-black) 2px 2px 7px;
}
.btn, .btn-ch{
    width: 250px;
    height: 60px;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    background: linear-gradient(94.25deg, #9C117E 0%, #C432A4 100%); 
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: var(--font-white);
    font-size: 2.4rem;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.btn img{
    width: 60px;
    margin: 7px;
}

.btn:hover, .btn-ch:hover{
background: var(--purple-60);
}
.contenedor{
    height:60vh;
    width: 100%;
    margin: auto;
}


/*              🇧​​​​​🇺​​​​​🇸​​​​​🇮​​​​​🇳​​​​​🇪​​​​​🇸​​​​​🇸​​​​​                   */
.main__business{
    height: 300px;
    width:100%;
    background: linear-gradient(180deg, #098B64 0%, #526C64 100%);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius:4px;
    color: var(--font-white);
}
.main__business div{
    padding-top: 50px;
    text-align: center;
}
.main__business h3, .main__business h2{
    color: var(--font-white);
    text-align: center;
    padding: 10px 0;
}
.main__business .business__logo img{
    width: 100%;
    max-width: 300px;
    padding: 10px 0;
}
.main__business .business__logo figure{
    text-align: center;
}
.main__business .business__button{
    padding: 20px 0;
}
.main__business .business__button a{
    margin: auto;
}
.business__ajust{
    max-width: 1200px;
    margin: auto;

}
.contact__container{
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius:4px;
}
.contact__container h2{
    color: var(--font-black);
    
}
/* PRESENTATION */

.presentation{
    position: relative;
    top: -60px;
    margin: auto;
    padding:20px;
    background-color: var(--basic-white);
    max-width: 1200px;
    width:95%;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);

}
.presentation hr{
    background-color: var(--purple-80);
    height:3px;
    width:200px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    
}
.enviar{
    background: #9C117E;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    color: var(--font-white);
}
.footer__container{
    background: var(--green-normal);
    padding: 20px;
    color: var(--basic-white);
}
.footer__container--logo--name{
    align-items: center;
    text-align: center;
    height:80px;
    color: var(--font-white)
}

.footer__container--logo--name img{
    height:81px;
}

.footer__contact{
    margin-top: 40px;
    padding: 10px;
    display: flex;

    color: var(--basic-white);
}
.footer__contact h3{

    color: var(--basic-white);
}
.footer__contact div{
    width: 50%;
    
}
.footer__contact--redes i{
    display: inline-block;
    margin: 10px;

}
